**IE 6400 FUNDAMENTALS OF DATA ANALYTICS (GROUP - 8)**

***1)** YASH HARALE*

***2)** SAKSHI ARYAL*

***3)** SHRUTHI KASHETTY*

DATA AQUISITION :

In [8]:
#Initialzation
import numpy as np
import pandas as pd
crimeData = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

DATA INSPECTION :

In [15]:
#Display the first few rows of the dataset.
crimeData.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1,Central,182,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,1974,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9000 CEDROS AV,NaN,34.2336,-118.4535

In [18]:
#Check the data types of each column.
crimeData.dtypes

DR_NO                      int64
Date Rptd         datetime64[ns]
DATE OCC          datetime64[ns]
TIME OCC                   int64
AREA                       int64
AREA NAME                 object
Rpt Dist No                int64
Part 1-2                   int64
Crm Cd                     int64
Crm Cd Desc               object
Mocodes                   object
Vict Age                   int64
Vict Sex                  object
Vict Descent              object
Premis Cd                float64
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status                    object
Status Desc               object
Crm Cd 1                 float64
Crm Cd 2                 float64
Crm Cd 3                 float64
Crm Cd 4                 float64
LOCATION                  object
Cross Street              object
LAT                      float64
LON                      float64
dtype: object

In [37]:
#Review column names and descriptions, if available.
crimeData['Date Rptd'] = pd.to_datetime(crimeData['Date Rptd'], format='%m/%d/%Y', errors='coerce')
crimeData['DATE OCC'] = pd.to_datetime(crimeData['DATE OCC'], format='%m/%d/%Y', errors='coerce')

print(crimeData.dtypes)

DR_NO                      int64
Date Rptd         datetime64[ns]
DATE OCC          datetime64[ns]
TIME OCC                   int64
AREA                       int64
AREA NAME                 object
Rpt Dist No                int64
Part 1-2                   int64
Crm Cd                     int64
Crm Cd Desc               object
Mocodes                   object
Vict Age                   int64
Vict Sex                  object
Vict Descent              object
Premis Cd                float64
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status                    object
Status Desc               object
Crm Cd 1                 float64
Crm Cd 2                 float64
Crm Cd 3                 float64
Crm Cd 4                 float64
LOCATION                  object
Cross Street              object
LAT                      float64
LON                      float64
dtype: object

DATA CLEANING :

In [13]:
#Identify and handle missing data appropriately.

In [30]:
#Check for and remove duplicate rows.
duplicateRows = crimeData[crimeData.duplicated()]
if not duplicateRows.empty:
    print("Duplicate Rows:")
    print(duplicateRows)
else:
    print("No duplicate rows.")

No duplicate rows.

In [35]:
#Convert data types if needed (e.g., dates to date format, numerical values to appropriate numeric types).

In [33]:
#Deal with outliers if relevant to your analysis.

In [ ]:
#Standardize or normalize numerical data as necessary.

In [ ]:
#Encode categorical data if present.

EXPLORATORY DATA ANALYSIS (EDA) :

In [ ]:
#Visualize overall crime trends from 2020 to the present year.

In [ ]:
#Analyze and visualize seasonal patterns in crime data.

In [ ]:
#Identify the most common type of crime and its trends over time.

In [ ]:
#nvestigate if there are any notable differences in crime rates between regions or cities.

In [ ]:
#Explore correlations between economic factors (if available) and crime rates.

In [ ]:
#Analyze the relationship between the day of the week and the frequency of certain types of crimes.

In [ ]:
#Investigate any impact of significant events or policy changes on crime rates.

ADVANCED ANALYSIS :

In [ ]:
#Use predictive modeling techniques (e.g., time series forecasting) to predict future crime trends.

In [ ]:
#Explore additional questions or hypotheses related to the dataset.

PROJECT REPORT :